policy_module(staff, 2.11.0)


########################################
#
# Declarations
#

role staff_r;
gen_require(`
	attribute_role unprivuser_role;
')
roleattribute staff_r unprivuser_role;


#userdom_unpriv_user_template(staff)

########################################
#
# Local policy
#
#corenet_ib_access_unlabeled_pkeys(staff_t)

gen_require(`
    type user_t;
')

########################################
#
# userdom_login_user_template
#

#userdom_base_user_template(staff)

gen_require(`
	type user_t;
	type user_devpts_t, user_tty_device_t;
	attribute file_type;
')
role staff_r types { user_t user_devpts_t user_tty_device_t file_type };

allow system_r staff_r;

rbac_change_role_user_target_role(staff_r)

#
# userdom_manage_home_role(staff_r, user_t)
gen_require(`
    type user_home_dir_t, user_home_t, user_cert_t;
')
role staff_r types { user_home_dir_t user_home_t user_cert_t };

#userdom_manage_tmp_role(staff_r, user_t)
gen_require(`
    type user_tmp_t;
')
role staff_r types user_tmp_t;

#userdom_manage_tmpfs_role(staff_r, user_t)
gen_require(`
    type user_tmpfs_t;
')
role staff_r types user_tmpfs_t;

########################################
#
# userdom_common_user_template
#

auth_run_pam(user_t, staff_r)
auth_run_utempter(user_t, staff_r)

seutil_run_newrole(user_t, staff_r)

optional_policy(`
	#systemd_role_template(user, staff_r, user_t)
	gen_require(`
		type user_systemd_t;
		type systemd_user_runtime_t;
		type systemd_user_runtime_notify_t;
	')
	role staff_r types { user_systemd_t systemd_user_runtime_t systemd_user_runtime_notify_t };
')

optional_policy(`
	usernetctl_run(user_t, staff_r)
')

########################################
#
# Local policy
#

optional_policy(`
	sysadm_role_change(staff_r, user_t)
')
