policy_module(unprivuser, 2.10.0)

# this module should be named user, but that is
# a compile error since user is a keyword.

########################################
#
# Declarations
#

attribute_role unprivuser_role;

role user_r;
roleattribute user_r unprivuser_role;

userdom_unpriv_user_template(user)

optional_policy(`
	apache_role(unprivuser_role, user_t)
')

optional_policy(`
	git_role(unprivuser_role, user_t)
')

optional_policy(`
	modemmanager_dbus_chat(user_t)
')

optional_policy(`
	screen_role_template(user, unprivuser_role, user_t)
')

optional_policy(`
	vlock_run(user_t, unprivuser_role)
')

optional_policy(`
	xscreensaver_role(unprivuser_role, user_t)
')

optional_policy(`
	xserver_role(unprivuser_role, user_t)
')

ifndef(`distro_redhat',`
	optional_policy(`
		auth_role(unprivuser_role, user_t)
	')

	optional_policy(`
		bluetooth_role(unprivuser_role, user_t)
	')

	optional_policy(`
		cdrecord_role(unprivuser_role, user_t)
	')

	optional_policy(`
		chromium_role(unprivuser_role, user_t)
	')

	optional_policy(`
		cron_role(unprivuser_role, user_t)
	')

	optional_policy(`
		dbus_role_template(user, unprivuser_role, user_t)

		optional_policy(`
			gnome_role_template(user, unprivuser_role, user_t)
		')

		optional_policy(`
			telepathy_role_template(user, unprivuser_role, user_t)
		')

		optional_policy(`
			wm_role_template(user, unprivuser_role, user_t)
		')
	')

	optional_policy(`
		dirmngr_role(unprivuser_role, user_t)
	')

	optional_policy(`
		evolution_role(unprivuser_role, user_t)
	')

	optional_policy(`
		games_role(unprivuser_role, user_t)
	')

	optional_policy(`
		gift_role(unprivuser_role, user_t)
	')

	optional_policy(`
		gpg_role(unprivuser_role, user_t)
	')

	optional_policy(`
		hadoop_role(unprivuser_role, user_t)
	')

	optional_policy(`
		irc_role(unprivuser_role, user_t)
	')

	optional_policy(`
		java_role(unprivuser_role, user_t)
	')

	optional_policy(`
		libmtp_role(unprivuser_role, user_t)
	')

	optional_policy(`
		lockdev_role(unprivuser_role, user_t)
	')

	optional_policy(`
		lpd_role(unprivuser_role, user_t)
	')

	optional_policy(`
		mozilla_role(unprivuser_role, user_t)
	')

	optional_policy(`
		mplayer_role(unprivuser_role, user_t)
	')

	optional_policy(`
		mta_role(unprivuser_role, user_t)
	')

	optional_policy(`
		ooffice_role(unprivuser_role, user_t)
	')

	optional_policy(`
		postgresql_role(unprivuser_role, user_t)
	')

	optional_policy(`
		pulseaudio_role(unprivuser_role, user_t)
	')

	optional_policy(`
		pyzor_role(unprivuser_role, user_t)
	')

	optional_policy(`
		razor_role(unprivuser_role, user_t)
	')

	optional_policy(`
		rssh_role(unprivuser_role, user_t)
	')

	optional_policy(`
		sigrok_run(unprivuser_role, user_t)
	')

	optional_policy(`
		spamassassin_role(unprivuser_role, user_t)
	')

	optional_policy(`
		ssh_role_template(user, unprivuser_role, user_t)
	')

	optional_policy(`
		su_role_template(user, unprivuser_role, user_t)
	')

	optional_policy(`
		sudo_role_template(user, unprivuser_role, user_t)
	')

	optional_policy(`
		syncthing_role(unprivuser_role, user_t)
	')

	optional_policy(`
		thunderbird_role(unprivuser_role, user_t)
	')

	optional_policy(`
		tvtime_role(unprivuser_role, user_t)
	')

	optional_policy(`
		uml_role(unprivuser_role, user_t)
	')

	optional_policy(`
		userhelper_role_template(user, unprivuser_role, user_t)
	')

	optional_policy(`
		vmware_role(unprivuser_role, user_t)
	')

	optional_policy(`
		wireshark_role(unprivuser_role, user_t)
	')
')
