policy_module(local_systemd, 1.0)

gen_require(`
    attribute systemd_user_session_type;
')

allow systemd_user_session_type self:process { sigkill signal signull getsched };

systemd_read_logind_pids(systemd_user_session_type)
sysnet_read_config(systemd_user_session_type)
