policy_module(local_xsession_log, 1.0)

gen_require(`
    type user_home_t;
')

# log to ~/.xfce4-sessesion-verbose
allow iceauth_t user_home_t:file write;
