## <summary>
##  Fixes for 'systemd --user'
## </summary>

## <summary></summary>
## <param name="user systemd domain">
##  <summary></summary>
## </param>
## <param name="user dbusd domain">
##  <summary></summary>
## </param>
## <param name="user role">
##  <summary></summary>
## </param>
interface(`systemd_user_dbusd',`
    gen_require(`
        type dbusd_exec_t;
        class unix_stream_socket { bind connectto create listen setopt getattr getopt read write };
        class dbus { acquire_svc send_msg };
        class process { signal signull sigkill noatsecure rlimitinh siginh };
        class sock_file { create write };
        type session_dbusd_runtime_t;
        class file { getattr open read };
        class dir { search };
    ')

    role $3 types $2;
    domtrans_pattern($1, dbusd_exec_t, $2)

    # socket activation
    allow $1 $2:unix_stream_socket { bind connectto create listen setopt };
    allow $2 $1:unix_stream_socket { connectto accept getattr getopt read write };

    # the fun part: correct context for /run/user/$uid/dbus
    allow $1 session_dbusd_runtime_t:sock_file { create write };
    userdom_user_runtime_filetrans($1, session_dbusd_runtime_t, sock_file, "bus")

    # stop / kill
    allow $1 $2:process { signal signull sigkill };
')
