policy_module(local_systemd, 1.0)

gen_require(`
    type staff_t, staff_systemd_t, staff_dbusd_t;
    role staff_r;

    type user_t, user_systemd_t, user_dbusd_t;
    role user_r;
')

systemd_user_dbusd(staff_systemd_t, staff_dbusd_t, staff_r)
systemd_user_dbusd(user_systemd_t, user_dbusd_t, user_r)

systemd_user_fixes(staff_t, staff_systemd_t, staff_r)
systemd_user_fixes(user_t, user_systemd_t, user_r)

gen_require(`
    attribute systemd_user_session_type;
    type systemd_unit_t;
')

init_list_unit_dirs(systemd_user_session_type)
allow systemd_user_session_type systemd_unit_t:file read_file_perms;
allow systemd_user_session_type systemd_unit_t:service start;

kernel_read_fs_sysctls(systemd_user_session_type)
kernel_read_crypto_sysctls(systemd_user_session_type)
kernel_read_vm_overcommit_sysctl(systemd_user_session_type)

allow systemd_user_session_type self:process { getcap sigkill signal signull getsched setsockcreate };
allow systemd_user_session_type self:tcp_socket { create setopt bind listen };

fs_rw_tmpfs_files(systemd_user_session_type)
dev_getattr_sysfs(systemd_user_session_type)

# allow "systemd --user" to chat with system dbus
gen_require(`
    type system_dbusd_runtime_t;
    type system_dbusd_t;

')
stream_connect_pattern(systemd_user_session_type, system_dbusd_runtime_t, system_dbusd_runtime_t, system_dbusd_t)
dbus_send_system_bus(systemd_user_session_type)

# XXX: this might be related to dotfiles / mislabeled unit types
gen_require(`
    type xdg_data_t;
')
allow systemd_user_session_type xdg_data_t:dir getattr;

# FIXME: ???
gen_require(`
    type node_t;
')
allow systemd_user_session_type node_t:tcp_socket node_bind;

# FIXME: ???
gen_require(`
    type mount_runtime_t;
')
allow systemd_user_session_type mount_runtime_t:file getattr;

miscfiles_read_localization(systemd_user_session_type)

allow systemd_user_session_type self:tcp_socket { connect getopt read write };

#=========
# stuff collected from local.te that might not be required
gen_require(`
    type init_t;
    class unix_dgram_socket sendto;
')
allow systemd_user_session_type init_t:unix_dgram_socket sendto;

# FIXME: remove if not necessary
init_dbus_chat(staff_systemd_t)

# FIXME: ???
gen_require(`
    class netlink_selinux_socket { bind create read };
')
allow systemd_user_session_type self:netlink_selinux_socket { bind create read };

systemd_read_logind_pids(systemd_user_session_type)

gen_require(`
    type adjtime_t;
    type var_lib_t;
    type cgroup_t;
')
allow systemd_user_session_type adjtime_t:file read;
sysnet_read_config(systemd_user_session_type)
allow systemd_user_session_type var_lib_t:dir { getattr search };
allow systemd_user_session_type cgroup_t:lnk_file { getattr read };
